{% extends "basedetalles.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 offset-1">
          
            <br>
            <h2>Detalles de: <font color="green">{{ itemsFront.descripcion }}</font> - TDE:<font color="red"> {{ itemsFront.tipo_de_espuma }}</font> - Unidad: <font color="orange">{{ itemsFront.tipo_de_unidad }} </font></h2>
            
            <br>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-bordered  " >
                <thead class="thead-light">
                  <tr>
        
                    <th>ID</th>
                    <th>Descripcion </th>
                    <th>Tipo espuma</th>
                    <th>Tipo de Unidad </th>
                    <th>forma</th>
        
                    <th>Largo Frio Objetivo</th>
                    <th>Ancho Frio Objetivo</th>
                    <th>Alto Frio Objetivo </th>
        
                    <th>Largo Caliente Setting Predefinido  </th>
                    <th>Largo Caliente Maximo  </th>
                    <th>Largo Caliente Minimo  </th>
                    <th>Largo Caliente Parametro Alto  </th>
                    <th>Largo Caliente Parametro Bajo  </th>

                    <th>Ancho Caliente Setting Predefinido </th>
                    <th>Ancho Caliente Maximo </th>
                    <th>Ancho Caliente Minimo </th>
                    <th>Ancho Caliente Parametro Alto </th>
                    <th>Ancho Caliente Parametro Bajo </th>

                    <th>Alto Caliente Setting Predefinido </th>
                    <th>Alto Caliente Maximo  </th>
                    <th>Alto Caliente Minimo  </th>
                    <th>Alto Caliente Parametro Alto </th>
                    <th>Alto Caliente Parametro Bajo </th>
                    
                    <th>Uso objetivo </th>
                    <th>Medida Disponible </th>
                    
                    <th>Fecha_De_Creado </th>
                    <th>Fecha_Actualizado</th>
        
                  </tr>
                </thead>
        
                <tbody>
                    
                <tr>
        
                <td>{{ itemsFront.id }}</td>
                <td>{{ itemsFront.descripcion }}</td>
                <td>{{ itemsFront.tipo_de_espuma }}</td>
                <td>{{ itemsFront.tipo_de_unidad }}</td>
                <td>{{ itemsFront.forma }}</td>
        
                <td>{{ itemsFront.largo_frio_objetivo }}</td>
                <td>{{ itemsFront.ancho_frio_objetivo }}</td>
                <td>{{ itemsFront.alto_frio_objetivo }}</td>
        
                <td>{{ itemsFront.largo_caliente_setting_predefinido }}</td>
                <td>{{ itemsFront.largo_caliente_maximo }}</td>
                <td>{{ itemsFront.largo_caliente_minimo }}</td>
                <td>{{ itemsFront.largo_caliente_parametro_alto }}</td>
                <td>{{ itemsFront.largo_caliente_parametro_bajo }}</td>

                <td>{{ itemsFront.ancho_caliente_setting_predefinido }}</td>
                <td>{{ itemsFront.ancho_caliente_maximo }}</td>
                <td>{{ itemsFront.ancho_caliente_minimo }}</td>
                <td>{{ itemsFront.ancho_caliente_parametro_alto }}</td>
                <td>{{ itemsFront.ancho_caliente_parametro_bajo }}</td>

                <td>{{ itemsFront.alto_caliente_setting_predefinido }}</td>
                <td>{{ itemsFront.alto_caliente_maximo }}</td>
                <td>{{ itemsFront.alto_caliente_minimo }}</td>
                <td>{{ itemsFront.alto_caliente_parametro_alto }}</td>
                <td>{{ itemsFront.alto_caliente_parametro_bajo }}</td>
        
                <td>{{ itemsFront.uso_objetivo }}</td>
                <td>{{ itemsFront.disponible }}</td>
        
                <td>{{ itemsFront.created }}</td>
                <td>{{ itemsFront.updated }}</td>      
        
                </td>
                </tbody>
            </table>
                  
                  

    
     
      
    
      <div class="container">
        <div class="row">
          <div class="col-12 offset-2">
            
            
                    <br>
                    <a class="btn btn-primary" href="{% url 'espumas:medidas' %}" role="button"> Regresar </a>
            
                  <br>
              </div>
          </div>
      </div>
      

{%endblock%}