{% extends "base.html" %}
{% block content %}



<h1>Lotes Pendientes</h1>
<br>
<table class="table table-sm" >
    <thead>
        <tr>
            <th> Dureza </th>
            <th> SAG Factor</th>
            <th> Densidad </th>
            <th> Flujo de aire </th>
            <th> Aprobar </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for lote in lotes_pendientes %}
            <form action="{% url 'corrida:aprobar_lote' lote.id %}" method="POST">
            {% csrf_token %}
            <tr>
                <td>
                    <input type="text"  size="5" id="dureza_capturada" name="dureza_capturada" value="{{ lote.dureza_capturada }}">
                </td>
                <td>
                    <input type="text"  size="5" id="sag_factor_capturado" name="sag_factor_capturado" value="{{ lote.sag_factor_capturado }}">
                </td>
                <td>
                    <input type="text"  size="5" id="densidad_capturada" name="densidad_capturada" value="{{ lote.densidad_capturada }}">
                </td>
                <td>
                    <input type="text"  size="5" id="flujo_de_aire_astm_capturado" name="flujo_de_aire_astm_capturado" value="{{ lote.flujo_de_aire_astm_capturado }}">
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" name="pruebas_pasadas" checked id="pruebas_pasadas" value="{{lote.pruebas_pasadas}}">
                </td>
                <td>
                    <input type="submit" class="btn btn-success" role="button" value="Guardar Cambios">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
    <hr class="style4">
    <br>


   
{%endblock%}